.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    gap: 5px;
    width: 100%;
}

.color {
    cursor: pointer;
    border: none;
    outline: 1px black solid;
    aspect-ratio: 1 / 1;
    border-radius: 3px;
    position: relative;

}

.isDisabled {
    cursor: not-allowed;
}

.isSelected {
    outline: 2px black solid;
}

.isSelected::before {
    border-radius: 3px;
    content: '';
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
}

