.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ccc;
  border-radius: 6px;
  position: relative;
  padding: 8px 4px;
}

input {
  width: 0;
  height: 0;
  opacity: 0;
}

label {
  cursor: pointer;
  text-align: center;
  font-size: 0.8rem;
  z-index: 10;
}

.isSelectedLabel {
    font-weight: bold;
}

.isDisabledLabel {
    cursor: not-allowed;
    color: var(--primary-white);
}

.chip {
  background-color: var(--primary-white);
  position: absolute;
  top: 0%;
  height: 100%;
  width: 50%;
  transition: 0.3s all ease-in-out;
}

.isTrue {
  left: 0%;
  border-radius: 6px 0px 0px 6px;
  
}

.isFalse { 
  left: 50%;
  border-radius: 0px 6px 6px 0px;

}

