.loader-container {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.circular-loader {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
}

.loader-bg {
  stroke: rgba(255, 255, 255, 0.1);
  stroke-width: 12;
}

.loader-progress {
  fill: none;
  stroke-width: 12;
  stroke-linecap: round;
  stroke-dasharray: 565.48;
  stroke-dashoffset: 565.48;
  transition: stroke-dashoffset 0.3s ease;
}

.label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: 100;
  color: var(--primary-black);
}
