.container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 10px 15px 0px 15px;
    margin-bottom: 10px;
    background-color: var(--primary-white);
}

.link {
    color: var(--primary-black);
    font-size: 1.2rem;

}

.home-link {
    text-decoration: none;
    color: var(--primary-purple);
    font-weight: 600;
}

.create-link {
}

.icon {
    font-size: 1.6rem;
    width: 32px;
    height: 100%;
    aspect-ratio: 1 / 1;
}