<div class="container">
  <div class="header">
    <div class="emoji-box" [ngStyle]="styles()">
      <span class="emoji">{{ habit().emoji }}</span>
    </div>
    <div class="info">
      <a [routerLink]="habitUrl()" [routerLinkActive]="habitUrl()" class="info-name">{{ habit().name }}</a>
      <p class="info-desc">{{ habit().description }}</p>
      <p class="info-today">{{ todaySummary() }}</p>
    </div>
    @if (isCompleted()) {
    <button
      title="you reach your target"
      (click)="onCompleteClick()"
      type="button"
      class="check-btn reset-track"
      [style.backgroundColor]="habit().color"
    >
      ✔
    </button>
    } @else {
    <button
      (click)="onIncrementClick()"
      type="button"
      class="check-btn edit-track"
    >
      <app-circular-progress-bar
        [circleColor]="getVariantColor('60')"
        [backgroundColor]="getVariantColor('40')"
        [percent]="percentage()"
      />
    </button>
    }
  </div>
  <div class="habit-graph-container">
    <app-habit-progress-component [habit]="habit()" />
  </div>
</div>
@if (customValueInputOpen()) {
<app-custom-value-input
  [title]="customValueInputTitle()"
  [target]="completionsLimitToday()"
  [min]="0"
  [initialValue]="initialCustomValue()"
  [progressColor]="habit().color"
  [allowExceedTarget]="habit().allowExceedTarget"
  (onCloseClick)="onCustomValueInputClose($event)"
/>
}
