/* You can add global styles to this file, and also import other style files */

:root {
  --primary-red: hsla(0, 79%, 49%, 1);
  --primary-light-pink: hsl(351, 42%, 94%);
  --primary-white: hsl(351, 22%, 98%);
  --primary-gray: hsl(249, 3%, 50%, 1);
  --primary-black: hsla(336, 17%, 11%, 1);
  --primary-blue: hsla(190, 64%, 34%, 1);
  --primary-purple: hsla(259, 43%, 53%, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: var(--primary-light-pink);}
