<form [formGroup]="form" (ngSubmit)="onSubmit($event)">
  <button type="button" (click)="togglePicker()">
    <span>{{emojiChose}}</span>
  </button>
  @if (showPicker) {
    <app-emoji-picker (onClickOutside)="closeEmojiPicker()" (onEmojiSelect)="onEmojiChange($event)" />
  }
  <div class="input-group">
    <label for="name">Name</label>
    <input formControlName="name" type="text" id="name" name="name" />
  </div>
  <div class="input-group">
    <label for="description">Description</label>
    <input type="text" id="description" name="description" />
  </div>
  <div class="input-group">
    <label>Color</label>
    <app-color-picker id="color" formControlName="color" class="color-picker"/>
  </div>
  <div class="input-group">
    <label for="target">Target</label>
    <input type="number" id="target" name="target" />
  </div>
  <div class="input-group">
    <label for="frequency">Frecuency</label>
    <select formControlName="frequency" id="frequency" name="frequency">
      <option value="1">Every day</option>
      <option value="7">Every week</option>
      <option value="30">Every month</option>
      <option value="custom">Custom</option>
    </select>
    @if (isFrequencyCustom) {
        <input type="number" min="1" formControlName="frequencyCustom"/>
    }
  </div>
  <div class="input-group">
    <label>How should completions by tracked?</label>
    <app-switch formControlName="allowCustomValue" falseOption="Step By Step" trueOption="Allow Custom Value" />
    @if (allowCustomValue) {
        <p>Insert a custom value for each completion</p>
    } @else {
        <p>Increase completions step by step</p>
    }
  </div>
  <input type="submit" value="Save"/>
</form>
