<form [formGroup]="form" (ngSubmit)="onSubmit($event)">
  <button type="button" (click)="togglePicker()">
    <span>{{emojiChose}}</span>
  </button>
  @if (showPicker) {
    <app-emoji-picker (onClickOutside)="closeEmojiPicker()" (onEmojiSelect)="onEmojiChange($event)" />
  }
  <div class="input-group">
    <label for="name">Name</label>
    <input formControlName="name" type="text" id="name" name="name" />
  </div>
  <div class="input-group">
    <label for="description">Description</label>
    <input type="text" id="description" name="description" />
  </div>
  <div class="input-group">
    <label for="color">Color</label>
    <app-color-picker id="color" formControlName="color" class="color-picker"/>
  </div>
  <div class="input-group">
    <label for="target">Target</label>
    <input type="number" id="target" name="target" />
  </div>
  <div class="input-group">
    <label for="frequency">Frecuency</label>
    <select id="frequency" name="frequency">
      <option>Every day</option>
      <option>Every week</option>
      <option>Every month</option>
      <option>Custom</option>
    </select>
  </div>
  <div class="input-group">
    <label>How should completions by tracked?</label>
    <input type="radio" id="allowCustomValue" name="allowCustomValue" />
    <label for="allowCustomValue">Allow Custom Value</label>
    <input type="radio" id="stepByStep" name="allowCustomValue" checked />
    <label for="stepByStep">Step by step</label>
  </div>
  <input type="submit" value="Save"/>
</form>
